
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;0,900;1,700&family=Source+Sans+Pro:wght@600&family=Zen+Antique&display=swap');
body{
   
/* font-family: 'Source Sans Pro', sans-serif; */
font-family: 'Zen Antique', serif;
display:block;
max-width: 900px;
margin: auto;


}
:root{
    
    --third-color:#F87171;
    --off-white :#E5E7EB;
    

}



.container{
    padding:0rem 2rem;
    background-color: #C4B5FD;
}
.center-container{
    max-width:700px;
    margin:auto;
    
}
.heading{
    text-align: center;
}
/* link */
.link{
    text-decoration: none;
    padding: 0.9rem 1rem;
    text-align: center;
    /* margin:1rem 1rem; */
}

.link-primary{
    color:aliceblue;
    background-color:var(--third-color);
    border-radius: 0.5rem;
    text-align: center;
    padding:0.5rem 0.5rem;
}
.link-secondary{
    color:var(--third-color);
    border-radius: 0.5rem;
    border: 2px solid var(--third-color);
    padding:0.5rem 0.5rem;
    text-align: center;
    
    
}

/* list */
.list{
    padding: 1rem 1rem;
}
.non-bullet{
    list-style: none;   
}
.list-inline{
    display:inline;
}
 /* header */
 .header{
     display:block;
     max-width:600px;
     margin:auto
 }
 .header-heading{
     text-align: center;
     padding:1rem 0rem;
 }

/* navigation */
.nav-pills{
    text-align: right;
}
.navigation{
    background-color:var(--third-color);
    color:white;
    border-bottom-left-radius: 0.5rem;
    padding: 0.5rem 0rem;
}
.navigation .link{
    color: white;
}
.navigation .link-active{
    font-weight: bold;
}
.navigation .nav-brand{
    font-size: large;
    font-weight: bold;
}




hr{
    margin: 2rem 0rem;
}


/* section */

.section-heading{
    padding:0.5rem 1rem;
    text-align: center;
}
.ow{
    background-color:var(--off-white);
   
}
.section-para{
    padding: 0.5rem 0rem;
    text-align: center;
}
/* .section h3{
    text-align: center;
    padding:1rem 0rem;
} */
/* footer */
.footer{
    background-color: var(--third-color);
    border-top-right-radius: 0.5rem;
    padding: 1rem 2rem;
}
.footer-heading{
    font-size: large;
    font-weight: bold;
    color:white;
    text-align: center;
}
.footer .link{
    color:white
}
.footer  .social-link{
    text-align:center;
}
.header .heading-title{
    color:var(--third-color);
    padding:2rem 0rem;
}
